@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  align-content: center;
}

.menu {
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(10, 14, 46, 0.974);
  color: rgb(151, 172, 255);
  position: fixed;
}

.links ul {
  list-style: none;
  display: flex;
}

.links li {
  margin: 10px;
}

.links__itens a {
  text-decoration: none;
  color: rgb(151, 172, 255);
}

.links__itens a:hover {
  color: rgb(100, 130, 248);
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(100, 130, 248);
}

.backimage {
  width: 100%;
  height: 300px;
  background-image: url(../images/mao_robot.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(10, 14, 46);
}


.backimage:nth-child(2){
  background-image: url(../images/tecnoFundo.jpg);
}

.backimage h1, h2 {
  /* border: solid 1px rgb(151, 172, 255); */
  padding: 10px;
  background-color: rgba(151, 172, 255, 0.515);
  border-radius: 25px 10px;
}

.empresa {
  width: 100%;
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.empresa__title {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15px;
  justify-content: center;
}

.empresa__title img {
  width: 250px;
  padding: 20px;
}

.empresa__text{
  width: 70%;
  line-height: 25px;
  text-align: center;
}

.empresa__card{
  width: 100%;
  display: flex;
  justify-content:space-evenly;
  margin-top: 40px;
}

.card{
  width: 20vw;
  /* border: 1px solid #000; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  margin: 10px;
  font-size: 15px;
  line-height: 18px;
  word-spacing: 8px;
  text-align: center;
}

.card img {
  margin-bottom: 20px;
  width: 130px;
}

.card:hover{
  /* width: 23vw; */
  font-weight: 900;
}

.segmento{
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.segmento__text{
  /* border: 1px solid #000; */
  width: 80%;
  margin: 20px 0;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  padding: 20px;
  margin: 10px;
  font-size: 15px;
  line-height: 18px;
  word-spacing: 8px;
  text-align: center;
}

.segmento__text:hover{
  font-weight: 900;
}

.segmento__text:nth-child(2){
  flex-direction: row-reverse;
}

.segmento__text img {
  width: 30%;
  margin: 30px;
  padding: 20px;
  background-color: rgba(151, 172, 255, 0.515);
}

.educacional{
  border-top: 1px solid rgb(100, 130, 248);
  padding-top: 30px;
  margin: 50px;
}

.educacional__text{
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.educacional__text p{
  width: 500px;
}

.educacional__text img{
  width: 30%;
  margin: 15px;
  padding: 20px;
  background-color: rgba(151, 172, 255, 0.515);
}

.backimage__new{
  background-image: url(../images/programmation.jpg);   
}

.startup{
  width: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  
  padding-bottom: 30px;
  margin: 50px;

}

.finep__title {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 15px;
  justify-content: center;
}

.finep__title img {
  width: 250px;
  padding: 20px;
}

.finep__title h1{
 margin-right: 25px;
}

.finep__text{
  width: 70%;
  line-height: 25px;
  text-align: center;
  border-bottom: 1px solid rgb(100, 130, 248);
  padding-bottom: 50px;
}

.rodape{
  width: 100%;
  background-color: rgba(10, 14, 46, 0.974);
  color: rgb(151, 172, 255);
  display: flex;
  justify-content: center;
}

.rodape__info{
  width: 90%;
}

.rodape__info h1{
  width: 100%;
  text-align: center;
  margin-top: 10px;
}

.rodape__info h3{
  margin-left: 15px;
  padding: 10px;
}

.rodape__info li {
  list-style: none;
}

.info__copy{
  width: 100%;
  margin: 20px;
  text-align: center;
  color: #fff;
  border-top: 1px solid rgb(100, 130, 248);
  padding-top: 20px;
}

